
.mm-element {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Open-sans"
}
.mm-element a {
	color: #212529;
}

.mm-element a:visited {
	color: #212529;
}

.mm-element a:hover {
	text-decoration: none;
	color: #b3b3b3;
}

.mm-element a:hover h5 {
	text-decoration: underline;
}

.mm-e-title {
	margin-top: 1rem;
}

.product-header {
	font-weight: bold;
}

.product-detail {
	font-size: small;
}