
.simple-link, .simple-link * {
	color: #212529;
}

.simple-link:visited, .simple-link:visited * {
	color: #212529;
}

.simple-link:hover, .simple-link:hover * {
	text-decoration: none;
	color: #b3b3b3;
}

.simple-link:hover h5 {
	text-decoration: underline;
}

.product-card {
	opacity: 1;
}

.product-card .card-img-overlay{
	opacity: 0;
}

.product-card:hover {
	opacity: 0.2;
}

.product-card:hover .card-img-overlay{
	opacity: 0.8;
}

.product-header {
	font-weight: bold;
}

.product-detail {
	font-size: small;
}